<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="relative z-30 h-full flex flex-col justify-between items-center">
    <header class="pt-[100px]">
      <h2 class="text-black text-[39px] font-medium">Model Y</h2>
      <a class="inline-block text-black text-sm underline cursor-pointer">
        Concertar una prueba de conducción</a
      >
    </header>
    <footer class="pb-4 flex-1 flex flex-col items-center justify-end">
      <div class="flex gap-6 pb-[34px]">
        <a
          href="#"
          class="border-none bg-[#3F4145] rounded font-medium text-sm text-white py-[10px] w-[262px]"
          title="Prueba de conducción">Explorar inventario</a
        >
        <a
          href="#"
          class="border-none bg-[#EAEAE9] rounded font-medium text-gray-900 text-sm py-[10px] w-[262px]"
          >Pedido personalizado</a
        >
      </div>
      <a href="#" class="text-xs underline">Disponible con Moves lll</a>
    </footer>
  </div>
  <div class="absolute inset-0 h-full w-full z-10">
    <img src="model-y.webp" alt="" class="h-full w-full object-cover" />
  </div>
</section>
