---
import Section from './Section.astro'
const { img, title, subtitle } = Astro.props
---

<Section title={title} color="black">
  <a
    slot="subtitle"
    href="#"
    class="text-black text-sm border-b border-black transition-[box-shadow] ease-out duration-300 hover:shadow-[0_1px_0_0_black]"
  >
    {subtitle}
  </a>
  <footer
    slot="footer"
    class="pb-4 flex-1 flex flex-col items-center justify-end"
  >
    <div class="flex gap-6 pb-[34px]">
      <a
        href="#"
        class="border-none bg-[#3F4145] rounded font-medium text-sm text-white py-[10px] w-[262px]"
        title="Prueba de conducción">Explorar inventario</a
      >
      <a
        href="#"
        class="border-none bg-[#EAEAE9] rounded font-medium text-gray-900 text-sm py-[10px] w-[262px]"
        >Pedido personalizado</a
      >
    </div>
    <a
      href="#"
      class="text-xs border-b border-black transition-[box-shadow] ease-out duration-300 hover:shadow-[0_1px_0_0_black]"
      >Disponible con Moves lll</a
    >
  </footer>
  <img slot="background" src={img} alt="" class="h-full w-full object-cover" />
</Section>
