<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="white"
>
  <div class="relative z-30 h-full flex flex-col justify-between items-center">
    <header class="pt-[100px]">
      <h2 class="text-white text-[39px] font-medium">Disfrute de Tesla</h2>
      <p class="text-white text-sm">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>
    <footer class="pb-20 flex-1 flex flex-col items-center justify-end">
      <a
        href="#"
        class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-sm text-white py-[7px] px-[46px] hover:bg-white hover:text-black transition-colors duration-300"
        >Prueba de conducción</a
      >
    </footer>
  </div>
  <div class="absolute inset-0 h-full w-full z-10">
    <video autoplay muted loop class="h-full w-full object-cover">
      <source src="/video.webm" type="video/mp4" />
    </video>
  </div>
</section>
