---
import Section from './Section.astro'
---

<Section title="Disfrute de Tesla" color="white">
  <p slot="subtitle" class="text-white text-sm opacity-0 animated-header-p">
    Programe una prueba de conducción hoy mismo.
  </p>
  <footer
    slot="footer"
    class="pb-20 flex-1 flex flex-col items-center justify-end animated-footer opacity-0"
  >
    <a
      href="#"
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-sm text-white py-[7px] px-[46px] hover:bg-white hover:text-black transition-colors duration-300"
      >Prueba de conducción</a
    >
  </footer>
  <video
    slot="background"
    autoplay
    muted
    loop
    class="h-full w-full object-cover"
  >
    <source src="/video.webm" type="video/mp4" />
  </video>
</Section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInP {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animated-header-p {
    animation: fadeInP 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .animated-footer {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
</style>
